
  body{
  height: 100vh;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  }.notification {
    width: 250px;
    height: 60px;
    background: rgb(255, 255, 255);
    border-radius: 14px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.377);
  }
  
  .shinner {
    position: absolute;
    width: 250px;
    height: 60px;
    overflow: hidden;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
  }
  
  .mover {
    position: absolute;
    border-top: 60px solid rgba(255, 255, 255, 0.4);
    border-right: 30px solid transparent;
    left: 50px;
    filter: blur( 4px );
    animation: shine 2s infinite ease-in-out;
  }
  
  .mover2 {
    content: "";
    position: absolute;
    border-top: 60px solid rgba(255, 255, 255, 0.4);
    border-left: 30px solid transparent;
    transform: scaleY(-1);
    left: 20px;
    filter: blur( 4px );
    animation: shine2 2s infinite ease-in-out;
  }
  .centered-content{
    position: relative;
 bottom: 15px;
  }
  
  .levelup {
    color: purple;
    text-align: center;

    font-weight: bolder;
    font-size: 1.8rem;
    z-index: 3;
  }
  
  .congrats {
    font-family: cursive;
    font-size: 1.5rem;
    color: purple;
    text-align: center;
    padding-top: 1rem;
    text-shadow: 1px 4px 7px rgb(7, 7, 7);
  }
  
  .wing {
    transform: translate(150px,-100px);
    position: absolute;
    z-index: -1;
    animation: winganime 2s ease-in-out infinite;
  }
  
  .wing1 {
    transform: translate(-30px,-100px) scaleX(-1);
    position: absolute;
    z-index: -1;
    animation: winganime2 2s ease-in-out infinite;
  }
  
  .bg {
    background:rgb(222, 62, 227);
    width: 130px;
    height: 130px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    z-index: -2;
    border-radius: 50%;
    box-shadow: rgb(222, 62, 227) 0px 4px 105px, rgb(222, 62, 227) 0px -24px 130px, rgb(222, 62, 227) 0px 4px 446px,rgb(222, 62, 227) 0px 12px 13px, rgb(222, 62, 227) 0px -3px 5px;
    animation: rot 2.5s infinite ease-in-out;
    transform-origin: center;
  }
  
  @keyframes rot {
    0% {
      transform: translate(50%,-50%) rotate(0deg);
    }
  
    100% {
      transform: translate(50%,-50%) rotate(360deg);
    }
  }
  
  @keyframes winganime {
    0% {
      transform: translate(150px,-100px) rotateY(0deg);
    }
  
    50% {
      transform: translate(150px,-95px) rotateY(25deg);
    }
  
    100% {
      transform: translate(150px,-100px) rotateY(0deg);
    }
  }
  
  @keyframes winganime2 {
    0% {
      transform: translate(-30px,-100px) rotateY(0deg) scaleX(-1);
    }
  
    50% {
      transform: translate(-30px,-95px) rotateY(-25deg) scaleX(-1);
    }
  
    100% {
      transform: translate(-30px,-100px) rotateY(0deg) scaleX(-1);
    }
  }
  
  @keyframes shine {
    0% {
      left: -50px;
    }
  
    100% {
      left: 300px;
    }
  }
  
  @keyframes shine2 {
    0% {
      left: -20px;
    }
  
    100% {
      left: 270px;
    }
  }